/* ==========================================================================
   Top navigation
   ========================================================================== */
.navigation-wrapper {
  
  text-align: center;
  
  display: inline-block;
  float: left;
  
  @include span-columns(7);
  @include media($mobile) {
    @include span-columns(4);
    background: $black;
    color: $white;
    top: 0px;
    position: absolute;
    left: 0px;
    ul{
      background: $black;
      margin: 0;
    }
    a{
      color: $white;
    }
  }
  @include omega();
  @include clearfix;
  ul {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 4px 20px;
    @include media($medium) {
      width: auto;
    }
    @include clearfix;
  }
  li {
    display: block;
    float: left;
    list-style: none;
    text-align: center;
    @include font-size(24,no);
    text-transform: uppercase;
    @include media($medium) {
      @include font-size(14,no);
    }
    a:hover {
      @include box-shadow($shadow: inset 0 0 1px $white);
    }
  }
  a {
    display: block;
    margin-bottom: 10px;
    padding: 12px 20px;
    @include media($medium) {
      margin-bottom: 0;
      padding: 6px 10px;
    }
    @include rounded(4px);
    &:hover {
      background-color: lighten($black, 10);
    }
  }
}

/*
   Responsive navigation toggle
   ========================================================================== */

#site-nav {
  display: none;
  z-index: 5;
  @include media($medium) {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  }
  &.closed {
    @include media($medium) {
      display: block;
    }
  }
  &.opened {
    display: block;
    max-height: 100%;
    li {
      float: none;
      @include media($medium) {
        float: left;
      }
    }
  }
}

/* display when JavaScript is disabled */
.no-js #site-nav {
  display: block;
}

#nav-toggle {
  z-index: 20;
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 6px 20px;
  background-color: $black;
  height: 44px;
  @include rounded(0);
  @include media($medium) {
    display: none;
  }
}
